---
title: Built with Template
layout: base.njk
---

    {% for movie in data.actionMovies %}
    <div id=action{{loop.index0}} class="hide">
        <h1>{{movie.title}}</h1>
        <img src=https://image.tmdb.org/t/p/w500{{movie.poster_path}}></img>
    </div>
    {% endfor %}

    {% for movie in data.adventureMovies %}
    <div id=adventure{{loop.index0}} class="hide">
        <h1>{{movie.title}}</h1>
        <img src=https://image.tmdb.org/t/p/w500{{movie.poster_path}}></img>
    </div>
    {% endfor %}

    {% for movie in data.comedyMovies %}
    <div id=comedy{{loop.index0}} class="hide">
        <h1>{{movie.title}}</h1>
        <img src=https://image.tmdb.org/t/p/w500{{movie.poster_path}}></img>
    </div>
    {% endfor %}
 <script src='/js/index.js'></script>
